<div class="wrapper fadeInDown">
    <div class="logo">
        <img class="logo" src="./images/deepblue.png" alt="company logo">
    </div>
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active"> Sign In </h2>
        <!--  -->

        <!-- Login Form -->
        <form>
            <input type="login" id="login" class="fadeIn second form-control" name="login" placeholder="Login">
            <input type="password" id="password" class="fadeIn third form-control" name="login" placeholder="Password">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

    </div>
</div>