<form>
    
    <div class="form-group">
        <label for="categoryName">Category Name</label>
        <input type="text" class="form-control" id="categoryName" aria-describedby="categoryName" placeholder="Enter Category Name">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>